
h1,h2,h3,a{
  font-family: "Antonio", sans-serif;
}
p, li{
  font-family: "Open Sans", sans-serif;
}

li{
  list-style-type:"—"
}

.menuOpen{
  animation: menuOpen .5s ease-out forwards;
}

@keyframes menuOpen {
  from{height:0px;}
  to{height: 150px}
}

.menuClosed{
  animation: menuClosed .5s ease-out forwards;
}

@keyframes menuClosed {
  from{height:150px}
  to{height: 0px}
}

@media (min-width: 768px){
  .navbar-small{
    display: none;
  }

  .navbar-large{
    display:flex
  }

  .icono-navbar{
    display: none
  }
}

@media (max-width: 767px){
  .navbar-small{
    display:flex;
  }

  .navbar-large{
    display:none
  }

  .icono-navbar{
    display: flex
  }
}

.front-img2{
  background-image:linear-gradient(to right, rgba(47, 137, 252, .4), rgba(47, 137, 252, .6)),url("https://res.cloudinary.com/dwmw7ez8q/image/upload/v1730329855/bgfjbxiko7fipzj07zgi.jpg");
  height: 400px;
  width:100%;
  background-size: cover;
}


.nosotros-bg{
  background-image: linear-gradient(to bottom ,#F4F6FF , #2F89FC)
}

.consultas-bg{
  background-image:linear-gradient(to bottom, #2f89fc 50%, #f4f6ff 50%)
}

.galeria-bg{
  background-image: linear-gradient(to bottom ,#F4F6FF 50%, #CC2B52 50%)
}


.contacto-bg{
  background-image: url('https://img.freepik.com/foto-gratis/pago-tecnologia-facil-e-inalambrico_23-2149105216.jpg?t=st=1730334754~exp=1730338354~hmac=bf63020443e8a2075e221e9c8906486067c5bf1ca4a98ca446dc156457d72ca0&w=1380');
  background-size:cover;
  width:100%;
  background-position:left;
}


.horarios-img{
  background-image: url("https://img.freepik.com/foto-gratis/mujer-cabello-rizado-viajando-bus_23-2148753448.jpg?semt=ais_siglip")
}

.abonos-img{
  background-image: url("https://img.freepik.com/foto-gratis/joven-contacto-paga-transporte-publico_169016-5426.jpg?semt=ais_siglip")
}

.horarios-img, .abonos-img{
  width:250px;
  height:250px;
  background-size:cover;
}

.nosotros2-img{
  background-image: url('https://img.freepik.com/free-photo/confident-handsome-guy-posing-against-white-wall_176420-32936.jpg?t=st=1730222100~exp=1730225700~hmac=0f2195ce8bd23de5248f76460e39bb67712e263e2a69901555ecd9bfd8fffd46&w=740')
}

.nosotros2-img2{
  background-image: url('https://img.freepik.com/free-photo/nice-job-proud-you-portrait-satisfied-supportive-friendly-male-entrepreneur-with-beard-pierced-nose-afro-hairstyle-showing-thumbs-up-gesture-smiling-pleased-gray-wall_176420-43319.jpg?t=st=1730222157~exp=1730225757~hmac=3499898bc1f23b8ce14d28e6978a0534c2509e4082cd2ce57908130e6cc99d89&w=740')
}



.nosotros2-img, .nosotros2-img2{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center
}

@media (min-width: 1024px){
  .front-img2{
    height:750px;
  }
  .nosotros-img{
    height: 600px
  }
  .consulta-img{
    width:50%;
    height: 650px;
    background-position: top
  }
  .nosotros2-img, .nosotros2-img{
    height:100%
  }
}

.componentUp{
  transform: translateY(-20px)
}



